
.page-body {
    padding-top: 50px;
    background: #26C6DA ;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  
